<div class="chart-box">
  <Charts::FitnessChart @chartData={{@data.fitnessData}} />
  <Charts::SalesChart @chartData={{@data.salesData}} />
  <Charts::PopulationChart @chartData={{@data.populationData}} />
  <Charts::HeightWeightChart @chartData={{@data.heightWeightData}} />
  <Charts::BrowserChart @chartData={{@data.browserData}} />
  <Charts::EmploymentChart @chartData={{@data.employmentData}} />
</div>