<div class="chart-box">
  <Charts::FitnessChart @chartData={{@model.fitnessData}} />
  <Charts::SalesChart @chartData={{@model.salesData}} />
  <Charts::PopulationChart @chartData={{@model.populationData}} />
  <Charts::HeightWeightChart @chartData={{@model.heightWeightData}} />
  <Charts::BrowserChart @chartData={{@model.browserData}} />
  <Charts::EmploymentChart @chartData={{@model.employmentData}} />
</div>