<div class="chart-row">
  <Charts::FitnessChart @chartData={{this.fitnessData}} />
  <Charts::SalesChart @chartData={{this.salesData}} />
  <Charts::PopulationChart @chartData={{this.populationData}} />
  <Charts::HeightWeightChart @chartData={{this.heightWeightData}} />
  <Charts::BrowserChart @chartData={{this.browserData}} />
  <Charts::EmploymentChart @chartData={{this.employmentData}} />
</div>